<web-app>

	<welcome-file-list>
		<welcome-file>input.html</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>country</servlet-name>	
		<servlet-class>com.tcs.gpsk.jsServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>country</servlet-name>	
		<url-pattern>/city</url-pattern>
	</servlet-mapping>
	
</web-app>