<web-app>
	<servlet>
		<servlet-name>date</servlet-name>
		<servlet-class>com.tcs.gpsk.DateDisplay</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>date</servlet-name>
		<url-pattern>/shiva</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>html</servlet-name>
		<servlet-class>com.tcs.gpsk.htmlapp</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>html</servlet-name>
		<url-pattern>/html1</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>xml</servlet-name>
		<servlet-class>com.tcs.gpsk.xmlapp</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>xml</servlet-name>
		<url-pattern>/xml1</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>excel</servlet-name>
		<servlet-class>com.tcs.gpsk.excelapp</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>excel</servlet-name>
		<url-pattern>/excel1</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>word</servlet-name>
		<servlet-class>com.tcs.gpsk.wordapp</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>word</servlet-name>
		<url-pattern>/word1</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>plain</servlet-name>
		<servlet-class>com.tcs.gpsk.plainapp</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>plain</servlet-name>
		<url-pattern>/plain1</url-pattern>
	</servlet-mapping>
	
</web-app>